body {
    margin: 0;
}

#root {
    position: relative;
    width: 800px;
    height: 300px;
    background-color: pink;
    overflow: none;
    background-image: url("/assets/table.png");
    background-position: center;
    background-size: cover;
}

.paddle {
    position: absolute;
    width: 12px;
    height: 60px;
    background-color: #17ff2e;
}

.ball {
    position:absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: radial-gradient(circle at 30px 30px, #5cabff, #000);
}

.net {
    position: absolute;
    border-left: 6px dashed white;
    left: 400px;
    height:  300px;
}

body {
    background-color: #000;
}

#line {
    border-top: 4px dashed black;
    width: 100%;
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.score {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px;
    opacity: 80%;
}